/*Variables con la paleta de colores*/
:root
{
    --ChileGuajillo: #670D05;
    --PimientoMorronNaranja: #CA1F03;
    --NaranjaHabanero: #DE7607;
    --Mostaza: #FFAB2E;
    --Pepinillo: #9D9A27;
    --Jalapeno: #495D18;
    --Espinaca: #1C2C05;
    --grisesito: #EDEFF6;
}
/*Body*/
body
{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: var(--grisesito);
}

.Grid_principal
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.Titulo
{
    /*Posicion inicial en referencia al grid principal*/
    grid-column: 1/13;
    grid-row: 1/3;
    background-color: var(--Jalapeno);

    /*Grid interno*/
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:  repeat(3, 1fr);
}

.Link_Inicio
{
    /*Posicion inicial en referencia al grid interno del titulo*/
    grid-column: 2/4;
    grid-row: 2/3;
}

.Img_Link_inicio
{
    /*tamaños de la imagen del link (chile)*/
   width: 35%;
   height: auto;
}

.Titulo_pagina
{
    /*Posicion inicial en referencia al grid principal*/
    grid-column: 5/9;
    grid-row: 2/3;
    /*El titulo está alineado al centro*/
    text-align: center;
    color: var(--Pepinillo);
}
.footer_reviews
{
    /*Posicion inicial en referencia al grid principal*/
    grid-column: 1/13;
    grid-row: 11/13;
    background-color: var(--Jalapeno);
    /*Grid interno*/
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:  repeat(3, 1fr);
}
.telefono_footer
{
    /*Posicion inicial en referencia Grid del footer*/
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
    color: var(--Pepinillo);
}
.Direccion_footer
{
    /*Posicion inicial en referencia Grid del footer*/
    grid-column: 9/11;
    grid-row: 2/3;
    text-align: center;  
    color: var(--Pepinillo);
}
.Contenedor-recetas
{
        /*Posicion inicial en referencia al grid principal*/
        grid-column: 2/12;
        grid-row: 4/10;
        /*Contenedor flexible dentro*/
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
        background-color: var(--ChileGuajillo);
}

.receta
{
    /*Tamaño del contenedor*/
    width: 30%;
    height: 90%;
    background-color: var(--Mostaza);
    /*Contenedor flexible*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Imagen-Receta
{
    width: 45%;
    height: auto;
} 