body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
 }
 
 /*COLORES USADOS EN LA PAGINA ESTABLECIDOS COMO VARIABLES*/
 :root
{
    --ChileGuajillo: #670D05;
    --PimientoMorronNaranja: #CA1F03;
    --NaranjaHabanero: #DE7607;
    --Mostaza: #FFAB2E;
    --Pepinillo: #9D9A27;
    --Jalapeno: #495D18;
    --Espinaca: #1C2C05;
    --grisesito: #EDEFF6;

}

 ::-webkit-scrollbar {
   display: none; /* Oculta la barra de desplazamiento en navegadores webkit */
}
 
main {
    width: 100%;
    height: 70vh;
    background-color: var(--grisesito);
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

header
{
    background-color: var(--grisesito);
    width: 100%;
    height: 15vh;


    flex-direction:column;
    align-items: center;
    justify-content: center;
    display: flex;

}


/*Esto es para todo el formato de registro*/
form 
{
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 50%;
    border: solid black 3px;
}



.imgcontainer /*Este es el apartado para la imagen*/
{




}

.login_img img
{
    height: 300px;
}

.login_form /*Apartado de el resto del forms que*/
{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: stretch;
    font-size: 130%;
    gap: 2%;
}

.select_area{
    display: flex;
    justify-content: center;
    align-items: center;
}

input /*BARRAS DONDE SE LLENA CON INFO*/ 
{
    height: 10px;
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    align-self: center;
}


label{
    text-align: center;
    font-size: 15px;
}
#button
{
width: 30%; 
background-color: red; 
color: white;
height: 50px;
padding: 3px;
align-items: center;
justify-content: center;
}
p
    {
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 130%;
    }
    #sesion
    {
    text-decoration: red;
    color: red;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    }
footer
{
    width: 95%;
    height: 5vh;
    display: flex;
    margin-left: 2%;
    background-color: white;
    border-radius: 10px;
    border-top: solid 10px red;
    border-right: solid 10px red;
    flex-direction: column;
}
    .info
    {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: solid 3px gray;
    }
    #f1_foot
    {
        width: 10%;
        height: 40%;
    }
    .redes
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .redes li a
    {
        display: inline-block;
        color: black;
        margin-right: 30px;
        text-decoration: none;
        text-align: center;
        font-size: 120%;
    }
    .redes li a:hover
    {
        border-bottom: solid 3px red;
    }
    .copyright
    {
        width: 100%;
        height: 30%;
        display: flex;
        margin-top: 30px;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: black;
    }
