:root
{
    --ChileGuajillo: #670D05;
    --PimientoMorronNaranja: #CA1F03;
    --NaranjaHabanero: #DE7607;
    --Mostaza: #FFAB2E;
    --Pepinillo: #9D9A27;
    --Jalapeno: #495D18;
    --Espinaca: #1C2C05;
    --grisesito: #EDEFF6
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--grisesito);
    flex-direction: column;
    margin: 0;
    gap: 2%;
}

/*Funcion para desaparecer la barra lateral del navegador*/
::-webkit-scrollbar 
{
   display: none; /* Oculta la barra de desplazamiento en navegadores webkit */
}


header
{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Mostaza);
}
main
{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form
{
    height: 90%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    padding: 1%;
    gap: 2%;
}
form img
{
    width: 80px;
    height: 80px;
}
.login_form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login_form input
{
    width: 60%;
}
#button
{
    width: 20%;
    padding: 0.5%;
    background-color: var(--Espinaca);
    color: var(--grisesito);
}
footer
{
    width: 100%;
    height: 10%;
}